/* GENERAL STYLES */

body {
    margin: 0;
    padding: 0;
    background: #999;
    font-size: 16px;
}

a {
    outline: none;
}



/* LAYOUT BOXES */

#index {

}

#content {
    width: 100%;
    box-shadow: 0 0 0.4em 0 #000;
    background: #fff;
    
    top: 3.4em;
    
    padding: 4%;
    box-sizing: border-box;
    
    font-family: Roboto, Arial, sans-serif;
    background: #fff;
}

#content > div {
    float: left;
    width: 100%;
    margin-bottom: 4%;
}

#header {
    float: left;
    width: 100%;
    box-sizing: border-box;
    
    background: #ccc;
    border-bottom: 0.2em solid #666;
    
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 3.4em;
    z-index: 3;
}

/*
#header::after {
    font-family: FontAwesome;
    content:"\f100\00a0\f1db\00a0\f101"; /* Circle with carets aka swipe symbol */ /*
    margin-left: -2.6em;
    font-size: 2em;
    color: #666;
    
    position: relative;
    top: 0.3em;
    left: 50%;
}

#header:hover {
    cursor: ew-resize;
}
*/

.snap-drawers {

}

.snap-drawer {
    color: #333;
    padding: 0.8em;
    box-sizing: border-box;
    top: 3.4em !important;
}

.snap-drawer h1 {
    font-size: 1.6em;
    margin-top: 0;
}

.snap-drawer h2 {
    font-size: 1em;
    margin-top: 0;
}

.snap-drawer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Bugfix for snap.js */
.snap-drawer {
    position: fixed;
    overflow-x: hidden;
}



/* CONTROLS */

button {
    font-size: 1em;
    font-weight: bold;
    
    margin: 0;
    padding: 0;
    background: #ccc;
    cursor: pointer;
    
    display: inline-block;
    margin: 0.4em;
    
    text-decoration: none;
    outline: none;
    
    border: 0.2em solid #666;
    border-radius: 0.4em;
}

button:hover {
    background-color: #999;
}

.button span {
    color: #666;
    text-align: center;
    font-size: 1.2em;
    
    line-height: 1.6em;
    height: 1.6em;
    min-width: 1.6em;
    width: auto;
    
    display: inline-block;
}

.btn_active {
    background: #999;
}



/* DRAWERS IN GENERAL */

.snap-drawer > div {
    margin-top: 2em;
}

.snap-drawer > div:first-child {
    margin-top: 0;
}



/* LEFT DRAWER */

#index {

}

#index li {
    width: 100%;
}

#index li a {
    color: #333;
    text-decoration: none;
    padding: 0.4em 0.4em 0.4em 1.8em;
    width: 100%;
    display: inline-block;
}

#index li a::before {
    font-family: "FontAwesome";
    padding-right: 0.4em;
    margin-left: -1.4em;
}

#index ul.songs li a::before {
    content: "\f001";
}

#index li a:hover {
    background: -moz-linear-gradient(
        left,
        #ccc 60%,
        #fff 90%
    );
    border: 0.2em solid #666;
    border-right: none;
    padding: 0.2em 0.4em 0.2em 1.6em;
}



/* RIGHT DRAWER */



/* HEADER */

#open-left {
    float: left;
}

#open-right {
    float: right;
}



/* SHEET */

#sheet-header {
    width: 100%;
    float: left;
    clear: both;
}

#sheet-body {
    width: 100%;
    float: left;
    clear: both;
}

/*@media screen and (max-width: 600px) {
    #sheet-body {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}

@media screen and (min-width: 601px) and (max-width: 1200px) {
    #sheet-body {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media screen and (min-width: 1201px) {
    #sheet-body {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}*/

#sheet h1 {
    margin-top: 0;
    float: left;
    clear: left;
}

#sheet h2 {
    margin-top: 0;
    float: right;
    clear: right;
    text-align: right;
    font-size: 1em;
    font-weight: normal;
}

#sheet div {
    float: left;
    clear: both;
    padding-top: 2.4em;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    -moz-page-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid-column;
}

#sheet .chord {
    display: inline-block;
    position: relative;
    width: 0;
    font-weight: bold;
    overflow: visible;
    font-size: 1em;
}

#sheet p {
    margin: 0;
    line-height: 1.6em;
}

#sheet p:first-child {
    margin-top: 0;
}

#sheet p:last-child {
    margin-bottom: 0 !important; /* "!important" overrides "p.first" rule */
}

#sheet .chords p {

}

#sheet div::before {
    position: relative;
    bottom: 0.4em;
    font-weight: bold;
    font-size: 1.4em;
    color: #666;
}

#sheet .chorus::before {
    content: "Chorus";
}

#sheet .intro::before {
    content: "Intro";
}

#sheet .bridge::before {
    content: "Bridge";
}

#sheet .outro::before {
    content: "Outro";
}

#sheet .tabs p {
    font-family: Courier New, Courier, monospace;
    font-size: 0.8em;
    white-space: pre;
}

#sheet .instructions {
    width: 100%;
    border: 0.2em #666 solid;
    padding: 0.4em;
    box-sizing: border-box;
}



/* PAGE */

#page h1 {
    margin-top: 0;
}

#page h2 {
    font-size: 1.4em;
}

#page code {
    white-space: pre-line;
    display: block;
    padding-left: 1em;
    border-left: 0.4em solid #ccc;
}



/* CONTROLER CLASSES */

.chord_small {
    font-size: 0.6em !important;
    line-height: 2.4em;
    bottom: 1.4em;
}

.chord_medium {
    font-size: 1.0em !important;
    line-height: 2.4em;
    bottom: 1.0em;
}

.chord_large {
    font-size: 1.4em !important;
    line-height: 2.4em;
    bottom: 0.8em;
}

.hidden {
    display: none;
    visibility: hidden;
}